<div class="panel primary-panel">
    <div class="panel-heading" ng-click="collapse()">
        <h3>
            {{book.title}}
            <em class="pull-right">{{book.authorName}}</em>
        </h3>
    </div>
    <div class="panel-body" ng-hide="collapsed">
        <div class="gallery">
            <div class="img-wrap">
                <img ng-src="{{'/Content/BookImg/' + book.imageName}}" alt="">
            </div>
        </div>
        <div>
                <h4>Description:</h4>
                <div>{{book.description}}</div>
        </div>
        <br>
        <div ng-show="book.tags">
                <span ng-repeat="tag in book.tags" class="btn btn-primary btn-primary-spacing" ng-click="navigateToTag(tag)">
                    {{tag.name}}
                </span>
        </div>
    </div>

</div>