@model System.Collections.Generic.IEnumerable<ELibrary.Model.Models.TagAssociationModel>

@{ 
    ViewBag.Title = "Home";
}

<div class="container">
    @Html.Partial("_PartialIntro")

    @foreach(var tag in Model)
    {
        @Html.Partial("_PartialTag", tag)
    }
</div>
